*.png
__MACOSX/
resust*/
result*
*backup*/
*.dat
*.zip
*.txt
*.swp
corpus/
resources/
outputs/
corpus/clf/*
state_dict/
output/
datasets/
train_csv/
test_csv/
label_test.*
log.txt
ner/
ABSA-PyTorch/
*.tgz
chinese*/
temp*/
15*/
nohup.out
model/bert/*
*.log
data/
output/
others/
!*.pb
.ipynb_checkpoints/
checkpoint/
.idea/
*.pyc
__pycache__/
.DS_Store
*.JD.LOCAL
*.local
meta_learner/
